.chatting__title {
  text-align: center;
  font-size: 32px;
}
.message__container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}

.chattingForm__container {
  width: 80%;
  margin: 0 auto;
  form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;

    input {
      width: 85%;
    }

    .btn {
      width: 9%;
      border: none;
      margin-left: 10px;
    }
  }
}

.response__container {
  text-align: left;
  box-shadow: 4px 3px 11px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;

  .response__date {
    font-size: 12px;
  }
  &.sender {
    text-align: right;
  }
}