{% extends 'base.html.twig' %}

{% block title %}Aty'place oublie de mot de passe{% endblock %}

{% block body %}
    <fieldset id="login">

    <p id="signin2">OUBLI DU MOT DE PASSE</p>

    {% for message in app.flashes('error') %}

        <div class="alert aler-notice">{{ message }}</div>
    {% endfor %}
       <div/>
    {{ form_start(form) }}
        {{ form_widget(form) }}

    </fieldset>
    {{ form_end(form) }}

    </div>

{% endblock %}