@import "recipient/reset";
@import "recipient/mixin";
@import "recipient/default";
@import "recipient/layout/header";
@import "recipient/pages/profile";
@import "recipient/pages/offer";
@import "recipient/layout/form";


@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf');
}