<h4>Rechercher un prestataire</h4>
<div class="search-container">
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    {{ form_widget(form.region) }}
    <button type="submit">Rechercher</button>
    {{ form_end(form) }}
</div>