<div class="search-container">
    {{ form_start(form) }}
    <div class="inner_form">
        {{ form_widget(form.name) }}
        <button type="submit">Rechercher</button>
    </div>

    {{ form_end(form) }}
</div>