.header__container {
  background-image: url("../cover-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-bottom: 50px;

  .header__container-list {
    width: 100%;
    color: #fff;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 50px;
    align-items: center;

    .nav__link {
      display: flex;
      flex-flow: row wrap;
      width: 30%;
      justify-content: space-around
    }

    .header__list-item {
      font-size: 15px;
      font-family: Nunito;
      text-decoration: none;
      transition: all 0.75s;

      &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
