.header-recipient {
  height: 65px;
  background-color: $white-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: $default-font-size;
  box-shadow: 0 0 35px 0 $background-color;

  .header-logo {
    height: 50px;
  }

  .navigation-header__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 30%;
  }

}