.demande__container-title {
  font-size: 24px;
  color: $main-color;
  text-align: center;
  padding-top: 10px;
}

.demande__container {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.demande__container-list {
  padding: 10px;

  .collection {
    border: 1px solid #e0e0e09c;

    .collection-item {
      color: $main-color;
    }
  }
}

.request__container {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.request__card {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}