.offer_container {
  min-height: 330px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $white-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.input-container {
  width: 45%;
  margin-top: 20px;

  &.content-100 {
    width: 90% !important;
  }
}

.document-container {
  form {
    width: 100%;
  }
}
.available__offer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.availabilityOffers {
  li {
    display: inline-flex;
    align-items: center;
    width: 100%;

    div {
      flex: 2;
    }
  }
}

.textarea {
  width: 80%;

  textarea {
    width: 100%;
    height: 200px;
  }
}

.container-submit {
  width: 100%;
  text-align: -webkit-center;
  padding: 20px 0;
}

