{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="error-page__title">Page introuvable</h1>

    <p class="error-page__content">
        Cette page n’est pas disponible <br>
        Le lien que vous avez suivi est peut-être rompu, ou la page a été supprimée.
    </p>
{% endblock %}