{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="error-page__title">Une erreur c'est produit</h1>

    <p class="error-page__content">
        Cette page n’est pas accésible
    </p>
{% endblock %}