{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="error-page__title">Une erreur est survenue</h1>

    <p class="error-page__content">
        Une erreur est survenue<br>
        Si cette erreur persiste merci de contacter notre service client
    </p>
{% endblock %}