{% extends 'email/base-email.html.twig' %}

{% block title %}Aty'place |Activation de votre compte prestataire{% endblock %}

{% block body %}
    <p>
        Bonjour,
        <br>
        <br>
    </p>
    <p>
        Malheuresement votre demande de réservation pour {{ city }}, du {{ startDate|date('d/m/y') }} au {{ endDate|date('d/m/y') }} à été annulé
        Merci de votre compréhension
    </p>
    <p>
        A très vite !
        <br>
        L'équipe Aty'place.
        <br>
    </p>
{% endblock %}