{% extends 'email/base-email.html.twig' %}

{% block title %}Aty'place |Activation de votre compte prestataire{% endblock %}

{% block body %}
    <p>
        Bonjour,
        <br>
        <br>
    </p>
    <p>
       Votre compte prestataire a été activer
        Merci
    </p>
    <p>
        A très vite !
        <br>
        L'équipe Aty'place.
        <br>
    </p>
{% endblock %}