{% extends 'email/base-email.html.twig' %}

{% block title %}Aty'place - Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <p>
        Bonjour,
        <br>
        <br>
    </p>
    <p>
        Pour réinitialiser votre mot de passe personnel, merci de cliquer sur le lien suivant :
    </p>
    <p style="text-align: center;">
        <a href="{{ ctaUrl }}" style="color: #000; text-decoration: underline;"><span style="color: #000; text-decoration: underline;">{{ ctaUrl }}</span></a>
    </p>
    <p>
        A très vite !
        <br>
        L'équipe Aty'place.
        <br>
    </p>
{% endblock %}